@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: inline;
  overflow: hidden;
  background-image: url("././assets/img.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.icono {
  font-size: 1.2rem;
  padding-right: 5px;
}

.login {
  width: 400px;
  height: auto;
  padding: 20px;
  background-color: rgba(2, 2, 2, 0.4);
  border-radius: 10px;
  border: solid 1px;
  border-color: rgba(2, 2, 2, 0.4);
  font-weight: bold;
}
.login p {
  padding: 10px 20px 20px 20px;
  font-size: small;
  color: lightgray;
  font-style: italic;
}
.login p a {
  
  color: darkcyan;
}
.login h1 {
  font-size: 36pt;
  color: white;
}
.login input {
  border: solid 1px;
  border-color: beige;
  width: 100%;
  font-size: medium;
  border-radius: 5px;
  padding: 5px;

}
.buttonContainer {
  width: 100%;
  margin-top: 20px;

  display: flex;
  align-content: center;
  justify-content: center;
}
.login button {
  width: 50%;
  padding: 10;
  background-color: limegreen;
  border-radius: 10px;
  font-size: x-large;
}
.login h2 {
  margin-top: 20px;
  color: white;
}
.sidebar {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  width: 250px;

  background: rgb(4, 180, 180);
  background: linear-gradient(
    270deg,
    rgba(4, 47, 46, 0.9752275910364145) 100%,
    rgba(4, 180, 180, 0.9556197478991597) 0%
  );
}
.containerLogo{
  border-bottom: 2px solid;
 /* border-color: rgb(0,30,20);*/
 border-color:rgba(237, 255, 18, 0.596);
  margin: 10px;
}
.navbar {
  position: sticky;
  margin-left: 250px;
  background: rgb(4, 47, 46);
  background: linear-gradient(
    56deg,
    rgba(4, 47, 46, 0.9220063025210083) 37%,
    rgba(4, 180, 180, 1) 100%
  );
}
.workArea {
  padding-top: 4px;
  overflow: auto;
  bottom: 0;
  top: 0;
  margin-left: 252px;
  margin-top: 50px;
  position: absolute;
  right: 0;
  left: 0;

  background-color: rgba(198, 214, 53, 0.1);
 
}
.containerLogin {
  background-color: rgba(13, 250, 92, 0);
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.dashboardCard h1 {
  font-size: large;
  font-weight: bold;
  color: rgb(88, 87, 87);
  display: flex;
  flex-direction: row;
}
.dashboardCard h1 ul li {
  color: rgba(231, 229, 229, 0.952);
}
.formMeeting textarea {
  width: 100%;
  margin-top: 20px;
  border: solid 1px;
  border-color: lightgray;
  height: 100px;
}
.formMeeting button {
  color: green;
  font-weight: bolder;
}
.btnGuardar {
  width: 100px;
}
.btnGuardar:hover {
  background-color: #36c939; /* Green */
}

.formNeighbor {
  background-color: rgba(230, 255, 18, 0.596);
  border: solid 1px;
  border-radius: 5px;
  border-color: beige;
  padding: 10px;
  font-weight: bold;
}

.formAdministrativa h1 {
  font-size: small;
  font-weight: bolder;
  text-align: center;
}
.formAdministrativa {
  padding: 20px;
  background-color: rgba(23, 186, 236, 0.493);
  border-radius: 5px;
  border-color: lightgrey;
}
.TextField {
  background-color: rgb(247, 248, 248);
}
.headerCardPayments {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
}
.headerCardPayments h2 {
  color: rgb(1, 1, 156);
  font-weight: bold;
  font-size: small;
}
.headerCardPayments span {
  color: rgb(13, 136, 33);
}
.mainCard {
  height: 595px;
}
.btnPagar {
  width: 80px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #36c939;
  color: white;
  border-radius: 5px;
  border-color: green;
}
.btnPay {
  color: white;
  background-color: rgba(7, 173, 7, 0.753);
  border: solid 1px;
  border-radius: 5px;
  width:auto;
 height: auto;
 padding: 5px;
 
}
.modalPagos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border: 2px solid;
  border-color: #f5f0f0;
  background-color: white;
}
.modalProyectos {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60%;

  border: 2px solid;
  border-color: #f5f0f0;
  background-color: white;
}
.modalP {
  position: absolute;

  width: 100%;
  height: 100%;

  border: 2px solid;
  border-color: #f5f0f0;
  background-color: white;
}
.valorDeuda {
  color: orangered;
}
.reportViewer {
  margin: auto;
  width: 100%;
  height: 100%;
}
.saveIcon {
  font-size: 24pt !important;
}
.checkBoxLabel {
  font-size: 10pt;
}
.QuoteDetail {
  border-bottom: 1px solid rgb(240, 231, 231);
}
